/* Default Styles */
@import './mixins/px-to-rem.scss';
@import './mixins/flex.scss';
@import './mixins/media.scss';
@import './mixins/adaptive-value.scss';
@import './var/var.scss';
@import './mixins/underline.scss';
@import './mixins/flare.scss';

// fonts
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap');

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: 'Manrope', sans-serif;
}

.container {
  max-width: rem(1640);
  padding: 0 rem(10);
  margin: 0 auto;
}

ul,
li,
a {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: inherit;
}

p {
  margin: 0;
  padding: 0;
}

button {
  background: transparent;
  outline: none;
  border: none;
}

@import './blocks/header.scss';
@import './blocks/header-mobile.scss';
@import './blocks/main.scss';

// popup

@import './blocks/popup.scss';
