%underline {
  position: absolute;
  left: 0;
  bottom: 0;
  content: '';
  height: 2px;
  width: 100%;
  border-bottom: 2px dotted $accent-red;
  transition: all 0.3s;

  &:hover {
    width: 70%;
  }
}
