.header {
  @include media($tablet) {
    display: none;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
  }
}

.top-header {
  &__inner {
    @include flex;
    @include adaptive-value('gap', 57, 5);
    @include adaptive-value('font-size', 11, 6);
    @include adaptive-value('line-height', 20, 10);
    padding-top: rem(27);
    padding-bottom: rem(28);
    font-weight: 400;
    color: $color-dark;
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);

    @include media($small-desktop) {
      gap: rem(10);
    }
  }

  &__logo {
    @include flex;
    @include adaptive-value('gap', 23, 5);
  }

  &__logo-info {
    max-width: rem(142);
  }

  &__logo-img {
    width: 100%;
    max-width: rem(213);
    min-width: calc(rem(213) / 2);
    height: 100%;
    max-height: rem(50);
    min-height: rem(25);
  }

  &__address {
    @include flex;
    gap: rem(10);
    max-width: rem(202);
  }

  &__map,
  &__calc {
    font-weight: 700;
    @include flex;
    gap: rem(10);
  }

  &__map {
    cursor: pointer;
    position: relative;

    &:hover {
      .map {
        display: block;
      }
    }
    &.active:hover {
      .map {
        display: none;
      }
    }
  }

  &__map-text {
    min-width: rem(82);
    position: relative;

    &::before {
      width: 100%;
      @extend %underline;
    }

    @include media(1375) {
      // min-width: rem(92);
      width: 100%;
    }
  }

  &__calc-text {
    min-width: rem(83);
    cursor: pointer;

    span {
      position: relative;
      &::before {
        @extend %underline;
      }
    }
  }

  &__social {
    max-width: rem(241);
  }
}

.top-header-social {
  @include flex;
  gap: rem(18);

  @include media($small-desktop) {
    flex-direction: column;
    gap: rem(5);
  }

  &__text {
    max-width: rem(106);
  }

  &__links {
    @include flex;
    gap: rem(6);
  }

  &__item {
    @include flex-center;
    @include adaptive-value('width', 35, 10);
    @include adaptive-value('height', 35, 10);
    border-radius: 50%;

    &:nth-child(1) {
      background: $accent-green;
    }

    &:nth-child(2) {
      background: $accent-blue;
    }

    &:nth-child(3) {
      background: $accent-purple;
    }
  }
}

.top-header-contacts {
  display: flex;
  flex-direction: column;
  text-align: center;

  &__time {
    @include adaptive-value('font-size', 12, 6);

    > span {
      @include media(1155px) {
        display: none;
      }
    }
  }

  &__phone {
    @include adaptive-value('font-size', 20, 3);
    font-weight: 700;

    @include media(1155px) {
      font-weight: 500;
    }
  }

  &__makecall {
    min-width: rem(66);
    position: relative;
    cursor: pointer;
    margin: 0 auto;

    &::before {
      @extend %underline;
    }
  }
}

.bottom-header {
  @include adaptive-value('font-size', 12, 8);
  max-height: rem(64);
  font-weight: 600;
  line-height: rem(16);
  text-transform: uppercase;
  color: $color-dark;

  &__nav-list {
    height: rem(64);
    @include flex;
    align-items: center;
  }

  &__nav-link {
    &:hover {
      color: $accent-red;
      transition: all ease-out 0.3s;
    }
  }
}

.map {
  display: none;
  position: absolute;
  top: rem(33);
  right: rem(30);
}

.map-overlay {
  display: none;
  position: absolute;
  width: 100%;

  &.active {
    display: block;
  }
}
