/* Default Styles */
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700;800&display=swap");

.top-header-contacts__makecall::before, .top-header__calc-text span::before, .top-header__map-text::before {
    position: absolute;
    left: 0;
    bottom: 0;
    content: "";
    height: 2px;
    width: 100%;
    border-bottom: 2px dotted rgb(253, 32, 22);
    transition: all 0.3s;
}

.top-header-contacts__makecall:hover::before, .top-header__calc-text span:hover::before, .top-header__map-text:hover::before {
    width: 70%;
}

.button-calc::after,
.button-consultation::after {
    content: "";
    display: block;
    width: 1.25rem;
    height: 12.5rem;
    margin-left: 3.125rem;
    background: #fff;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.4));
    left: -2.5rem;
    z-index: 1;
    transform: rotate(45deg);
    position: absolute;
    animation: movingFlare 4s ease-in-out 0.05s infinite;
}

@keyframes movingFlare {
    0% {
        left: -1.875rem;
        margin-left: 0rem;
    }

    30% {
        left: 110%;
        margin-left: 5rem;
    }

    100% {
        left: 110%;
        margin-left: 5rem;
    }
}

*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: "Manrope", sans-serif;
}

.container {
    max-width: 102.5rem;
    padding: 0 0.625rem;
    margin: 0 auto;
}

ul,
li,
a {
    list-style: none;
    text-decoration: none;
    padding: 0;
    margin: 0;
    color: inherit;
}

button {
    background: transparent;
    outline: none;
    border: none;
}

@media only screen and (max-width: 768px) {
    .header {
        display: none;
    }
}

.header__wrapper {
    display: flex;
    flex-direction: column;
}

.top-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 57px;
    font-size: 11px;
    line-height: 20px;
    padding-top: 1.6875rem;
    padding-bottom: 1.75rem;
    font-weight: 400;
    color: rgb(42, 42, 42);
    border-bottom: 1px solid rgba(42, 42, 42, 0.2);
}

@media (max-width: 1660px) {
    .top-header__inner {
        gap: calc(5px + 52 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .top-header__inner {
        font-size: calc(6px + 5 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .top-header__inner {
        line-height: calc(10px + 10 * ((100vw - 320px) / 1660));
    }
}

@media only screen and (max-width: 1350px) {
    .top-header__inner {
        gap: 0.625rem;
    }
}

.top-header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 23px;
}

@media (max-width: 1660px) {
    .top-header__logo {
        gap: calc(5px + 18 * ((100vw - 320px) / 1660));
    }
}

.top-header__logo-info {
    max-width: 8.875rem;
}

.top-header__logo-img {
    width: 100%;
    max-width: 13.3125rem;
    min-width: calc(13.3125rem / 2);
    height: 100%;
    max-height: 3.125rem;
    min-height: 1.5625rem;
}

.top-header__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
    max-width: 12.625rem;
}

.top-header__map, .top-header__calc {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.625rem;
}

.top-header__map {
    cursor: pointer;
    position: relative;
}

.top-header__map:hover .map {
    display: block;
}

.top-header__map.active:hover .map {
    display: none;
}

.top-header__map-text {
    min-width: 5.125rem;
    position: relative;
}

.top-header__map-text::before {
    width: 100%;
}

@media only screen and (max-width: 1375) {
    .top-header__map-text {
        width: 100%;
    }
}

.top-header__calc-text {
    min-width: 5.1875rem;
    cursor: pointer;
}

.top-header__calc-text span {
    position: relative;
}

.top-header__social {
    max-width: 15.0625rem;
}

.top-header-social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.125rem;
}

@media only screen and (max-width: 1350px) {
    .top-header-social {
        flex-direction: column;
        gap: 0.3125rem;
    }
}

.top-header-social__text {
    max-width: 6.625rem;
}

.top-header-social__links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.375rem;
}

.top-header-social__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 50%;
}

@media (max-width: 1660px) {
    .top-header-social__item {
        width: calc(10px + 25 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .top-header-social__item {
        height: calc(10px + 25 * ((100vw - 320px) / 1660));
    }
}

.top-header-social__item:nth-child(1) {
    background: rgb(32, 200, 99);
}

.top-header-social__item:nth-child(2) {
    background: rgb(47, 179, 243);
}

.top-header-social__item:nth-child(3) {
    background: rgb(119, 110, 233);
}

.top-header-contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top-header-contacts__time {
    font-size: 12px;
}

@media (max-width: 1660px) {
    .top-header-contacts__time {
        font-size: calc(6px + 6 * ((100vw - 320px) / 1660));
    }
}

@media only screen and (max-width: 1155px) {
    .top-header-contacts__time > span {
        display: none;
    }
}

.top-header-contacts__phone {
    font-size: 20px;
    font-weight: 700;
}

@media (max-width: 1660px) {
    .top-header-contacts__phone {
        font-size: calc(3px + 17 * ((100vw - 320px) / 1660));
    }
}

@media only screen and (max-width: 1155px) {
    .top-header-contacts__phone {
        font-weight: 500;
    }
}

.top-header-contacts__makecall {
    min-width: 4.125rem;
    position: relative;
    cursor: pointer;
    margin: 0 auto;
}

.bottom-header {
    font-size: 12px;
    max-height: 4rem;
    font-weight: 600;
    line-height: 1rem;
    text-transform: uppercase;
    color: rgb(42, 42, 42);
}

@media (max-width: 1660px) {
    .bottom-header {
        font-size: calc(8px + 4 * ((100vw - 320px) / 1660));
    }
}

.bottom-header__nav-list {
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-items: center;
}

.bottom-header__nav-link:hover {
    color: rgb(253, 32, 22);
    transition: all ease-out 0.3s;
}

.map {
    display: none;
    position: absolute;
    top: 2.0625rem;
    right: 1.875rem;
}

.map-overlay {
    display: none;
    position: absolute;
    width: 100%;
}

.map-overlay.active {
    display: block;
}

.header-mobile {
    display: none;
    -o-object-fit: contain;
    object-fit: contain;
    color: rgb(255, 255, 255);
}

@media only screen and (max-width: 768px) {
    .header-mobile {
        display: block;
        background: transparent;
    }
}

.header-mobile__top {
    padding: 0 1.375rem;
    padding-top: 0.75rem;
    padding-bottom: 1.9375rem;
    position: fixed;
    width: 100%;
}

.header-mobile__top.active {
    background: rgb(255, 255, 255);
    color: rgb(42, 42, 42);
}

.header-mobile__top, .header-mobile__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-mobile__burger-btn {
    color: #fff;
}

.header-mobile__burger-btn.active {
    color: rgb(40, 40, 40);
}

.mobile-contacts {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.mobile-contacts__time, .mobile-contacts__makecall {
    font-size: 12px;
    font-weight: 400;
    line-height: 0.625rem;
}

@media (max-width: 1660px) {
    .mobile-contacts__time, .mobile-contacts__makecall {
        font-size: calc(6px + 6 * ((100vw - 320px) / 1660));
    }
}

.mobile-contacts__makecall span:nth-child(2) {
    border-bottom: 2px dotted red;
}

.mobile-contacts__phone {
    font-size: 16px;
    font-weight: 700;
}

@media (max-width: 1660px) {
    .mobile-contacts__phone {
        font-size: calc(12px + 4 * ((100vw - 320px) / 1660));
    }
}

.mobile-menu {
    display: none;
    padding: 0 1.375rem;
    width: 20rem;
    background-color: white;
    color: rgb(42, 42, 42);
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.375rem;
    text-transform: uppercase;
    text-align: left;
}

@media only screen and (max-width: 768px) {
    .mobile-menu {
        width: 100%;
    }
}

.mobile-menu__nav-list {
    margin-bottom: 0.625rem;
}

.mobile-menu__nav-item {
    margin-bottom: 1.75rem;
}

.nav-content {
    margin-bottom: 0.625rem;
}

.nav-content__item {
    color: rgb(146, 146, 146);
    font-weight: 400;
    font-size: 0.75rem;
    margin-bottom: 0.5rem;
    text-transform: capitalize;
}

.nav-content__item:nth-child(1) {
    margin-bottom: 1.125rem;
}

.nav-content__title {
    margin-bottom: 0.875rem;
}

.mobile-info {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1875rem;
}

.mobile-info__inner {
    display: flex;
    flex-direction: column;
    gap: 2.375rem;
}

.mobile-info__calc, .mobile-info__contacts, .mobile-info__address {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: flex-start;
    gap: 1.125rem;
    text-transform: capitalize;
}

.mobile-info__calc span, .mobile-info__contacts span, .mobile-info__address span {
    font-weight: 800;
    color: rgb(42, 42, 42);
}

.mobile-info__calc img, .mobile-info__contacts img, .mobile-info__address img {
    width: 4.0625rem;
    height: 4.0625rem;
}

.main {
    position: relative;
}

@media only screen and (max-width: 768px) {
    .main {
        position: static;
    }
}

.main__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.main__scroll {
    transform: rotate(-90deg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    position: absolute;
    left: -16.4375rem;
    top: 20rem;
    gap: 34.25rem;
}

@media only screen and (max-width: 1866px) {
    .main__scroll {
        display: none;
    }
}

.main__scroll-icon {
    transform: rotate(90deg);
    position: relative;
}

.main__scroll-text {
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5625rem;
    color: rgb(239, 239, 239);
}

.main__scroll-text::after {
    content: "";
    position: absolute;
    right: 6.75rem;
    top: 50%;
    width: 30.5rem;
    background: rgb(239, 239, 239);
    height: 0.0625rem;
    margin-left: 2.375rem;
}

.main__scroll-dot {
    position: absolute;
    width: 0.25rem;
    height: 0.25rem;
    left: 50%;
    transform: translate(-50%);
    top: 0.625rem;
    transition: all ease-in 0.3s;
}

.main__scroll-dot.active {
    top: 1rem;
    z-index: 500;
}

.main__inner {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    padding-top: 128px;
    padding-left: 115px;
    padding-right: 141px;
    background: url("../img/logo-bg.webp") no-repeat center;
    max-width: 111.25rem;
    z-index: -1;
    right: 0;
    top: 0;
    width: 100%;
}

@media (max-width: 1660px) {
    .main__inner {
        padding-top: calc(30px + 98 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .main__inner {
        padding-left: calc(30px + 85 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .main__inner {
        padding-right: calc(30px + 111 * ((100vw - 320px) / 1660));
    }
}

@media only screen and (max-width: 479px) {
    .main__inner {
        height: 31.9375rem;
        align-items: center;
        padding: 2.3125rem 1.375rem 0 1.375rem;
    }
}

.main__title {
    max-width: 63.1875rem;
    font-size: 65px;
    line-height: 95px;
    margin-bottom: 45px;
    font-weight: 400;
}

@media (max-width: 1660px) {
    .main__title {
        font-size: calc(20px + 45 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .main__title {
        line-height: calc(29px + 66 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .main__title {
        margin-bottom: calc(28px + 17 * ((100vw - 320px) / 1660));
    }
}

@media only screen and (max-width: 698px) {
    .main__title {
        margin-top: 2.3125rem;
    }
}

@media only screen and (max-width: 479px) {
    .main__title {
        align-self: flex-start;
        margin-bottom: 0;
    }
}

.main__subtitle {
    font-size: 27px;
    line-height: 45px;
    margin-bottom: 45px;
    font-weight: 400;
}

@media (max-width: 1660px) {
    .main__subtitle {
        font-size: calc(12px + 15 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .main__subtitle {
        line-height: calc(29px + 16 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .main__subtitle {
        margin-bottom: calc(29px + 16 * ((100vw - 320px) / 1660));
    }
}

@media only screen and (max-width: 479px) {
    .main__subtitle {
        align-self: flex-start;
        max-width: 15.5625rem;
        margin-bottom: 0;
    }
}

.main__buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 124px;
    justify-content: flex-start;
    gap: 1.375rem;
}

@media (max-width: 1660px) {
    .main__buttons {
        margin-bottom: calc(49px + 75 * ((100vw - 320px) / 1660));
    }
}

@media only screen and (max-width: 698px) {
    .main__buttons {
        flex-direction: column;
    }
}

.main__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 479px) {
    .main__items {
        display: none;
    }
}

.button-calc,
.button-consultation {
    width: 400px;
    height: 100px;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    color: rgb(255, 255, 255);
    border-radius: 31.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Manrope";
    font-weight: 600;
    line-height: 1.5rem;
    cursor: pointer;
    transition: all 0.3s;
}

@media (max-width: 1660px) {
    .button-calc,
  .button-consultation {
        width: calc(276px + 124 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .button-calc,
  .button-consultation {
        height: calc(60px + 40 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .button-calc,
  .button-consultation {
        font-size: calc(10px + 6 * ((100vw - 320px) / 1660));
    }
}

.button-calc {
    background: rgb(253, 32, 22);
    gap: 0.875rem;
}

.button-calc:hover {
    background: rgba(253, 32, 22, 0.8);
    transition: transform ease-in 0.2s;
}

.button-calc:hover .button-calc__icon {
    transform: rotate(45deg);
    transition: transform ease-in 0.2s;
}

.button-calc__text {
    max-width: 15.9375rem;
}

@media only screen and (max-width: 768px) {
    .button-calc__icon {
        display: none;
    }
}

@media only screen and (max-width: 479px) {
    .button-calc {
        width: 100%;
    }
}

.button-consultation {
    background: transparent;
    border: 0.0625rem solid rgb(255, 255, 255);
    gap: 0.75rem;
    flex-direction: row-reverse;
}

.button-consultation:hover {
    background: rgba(42, 42, 42, 0.3);
}

@media only screen and (max-width: 768px) {
    .button-consultation span {
        color: rgb(32, 200, 99);
    }
}

.button-consultation__text {
    max-width: 18.375rem;
}

@media only screen and (max-width: 768px) {
    .button-consultation__icon {
        display: none;
    }
}

.main-item + .main-item {
    border-left: 0.0625rem solid rgba(255, 255, 255, 0.5);
}

.main-item {
    height: 9.5625rem;
    display: flex;
    gap: 0.75rem;
    flex-direction: column;
    justify-content: flex-start;
}

.main-item__text {
    font-size: 17px;
    line-height: 27px;
    display: block;
    margin-bottom: 2.125rem;
}

@media (max-width: 1660px) {
    .main-item__text {
        font-size: calc(10px + 7 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .main-item__text {
        line-height: calc(10px + 17 * ((100vw - 320px) / 1660));
    }
}

.main-item__text span {
    font-weight: 800;
}

.main-item:nth-child(1) {
    padding-right: 95px;
}

@media (max-width: 1660px) {
    .main-item:nth-child(1) {
        padding-right: calc(10px + 85 * ((100vw - 320px) / 1660));
    }
}

.main-item:nth-child(2) p {
    max-width: 13.875rem;
}

.main-item:nth-child(2), .main-item:nth-child(3) {
    padding-right: 95px;
    padding-left: 95px;
    padding-top: 0;
    padding-bottom: 0;
}

@media (max-width: 1660px) {
    .main-item:nth-child(2), .main-item:nth-child(3) {
        padding-right: calc(10px + 85 * ((100vw - 320px) / 1660));
    }
}

@media (max-width: 1660px) {
    .main-item:nth-child(2), .main-item:nth-child(3) {
        padding-left: calc(10px + 85 * ((100vw - 320px) / 1660));
    }
}

.main-item:nth-child(4) {
    padding-left: 95px;
}

@media (max-width: 1660px) {
    .main-item:nth-child(4) {
        padding-left: calc(10px + 85 * ((100vw - 320px) / 1660));
    }
}

.items-mobile {
    display: none;
    position: absolute;
    top: 32.875rem;
    margin-bottom: 1.25rem;
    font-size: 0.625rem;
    line-height: 0.9375rem;
}

.items-mobile span {
    font-weight: 800;
}

@media only screen and (max-width: 479px) {
    .items-mobile {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 2.1875rem;
        grid-row-gap: 1.0625rem;
    }
}

.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 37.5rem;
    background: rgb(42, 42, 42);
    color: rgb(255, 255, 255);
    padding: 2.8125rem 4.25rem 4.6875rem 4.25rem;
    text-align: center;
    display: none;
}

@media (max-width: 1660px) {
    .popup {
        width: calc(320px + 180 * ((100vw - 320px) / 1660));
    }
}

.popup.active {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 2.75rem;
    margin-bottom: 1rem;
}

@media (max-width: 1660px) {
    .popup__title {
        font-size: calc(20px + 12 * ((100vw - 320px) / 1660));
    }
}

.popup__descr {
    font-weight: 400;
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin-bottom: 2.125rem;
    font-family: "Manrope";
}

.popup__form-text {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1875rem;
    margin-bottom: 0.75rem;
    font-family: "Manrope";
}

.popup__form-input, .popup__form-button {
    width: 363px;
    height: 5.3125rem;
    margin-bottom: 1.5625rem;
    border-radius: 31.25rem;
    font-family: "Manrope";
}

@media (max-width: 1660px) {
    .popup__form-input, .popup__form-button {
        width: calc(276px + 87 * ((100vw - 320px) / 1660));
    }
}

.popup__form-input {
    background: rgb(250, 250, 250);
    color: rgb(42, 42, 42);
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    padding: 0 1.25rem;
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.popup__form-input::-moz-placeholder {
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.popup__form-input::placeholder {
    text-align: left;
    font-size: 1.125rem;
    line-height: 1.5rem;
}

.popup__form-button {
    background: rgb(253, 32, 22);
    font-weight: 600;
    color: rgb(255, 255, 255);
    font-size: 1rem;
    line-height: 1.5rem;
}

.popup__form-button:disabled {
    opacity: 0.6;
}

.popup__form-conf {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.875rem;
    text-align: left;
}

.popup__form-conftext {
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.1875rem;
}

.popup__form-conftext span {
    color: rgb(253, 32, 22);
}

.popup-close {
    position: absolute;
    content: url("../img/close-popup.svg");
    right: 2.3125rem;
    top: 2.1875rem;
    cursor: pointer;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup-overlay.active {
    display: block;
}

.popup-success {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 6.25rem;
    background: rgb(42, 42, 42);
    color: rgb(255, 255, 255);
    padding: 0.625rem 1.25rem;
    text-align: center;
    display: none;
    text-align: center;
}

@media (max-width: 1660px) {
    .popup-success {
        width: calc(300px + 200 * ((100vw - 320px) / 1660));
    }
}

.popup-success.active {
    display: flex;
    align-items: center;
    justify-content: center;
}