// colors
$color-dark: rgba(42, 42, 42, 1);
$color-white: rgba(255, 255, 255, 1);
$accent-red: rgba(253, 32, 22, 1);
$accent-green: rgba(32, 200, 99, 1);
$accent-blue: rgba(47, 179, 243, 1);
$accent-purple: rgba(119, 110, 233, 1);

// media

$small-desktop: 1350px;
$tablet: 768px;
