<header class="header">
  <div class="container">
    <div class="header__wrapper">
      <div class="header__top top-header">
        <div class="top-header__inner">
          <div class="top-header__logo">
            <a class="top-header__logo-link" href="index.html">
              <img class="top-header__logo-img" src="assets/img/logo.svg" alt="top-header-logo" />
            </a>
            <div class="top-header__logo-info">Ремонтируем двигатели Hyundai и Kia с 2012 года</div>
          </div>
          <div class="top-header__address">
            <img
              class="top-header__address-img"
              src="assets/img/map.svg"
              alt="top-header-address-img"
            />
            <p class="top-header__address-text">
              Адрес автоцентра: Москва, Шоссейный проезд, с4 а/2
            </p>
          </div>
          <div class="top-header__map">
            <div class="_icon-map-ico"></div>
            <p class="top-header__map-text">Смотреть на карте</p>
            <div class="map" id="map">
              <iframe
                src="https://yandex.ru/map-widget/v1/?um=constructor%3A67f6d8301b0383a6796c878716d537fb35b0d07e0bdc5db5e71a35c603caa706&amp;source=constructor"
                width="500"
                height="400"
                frameborder="0"
              ></iframe>
            </div>
          </div>
          <div class="top-header__calc">
            <img
              class="top-header__calc-img"
              src="assets/img/calc.svg"
              alt="top-header-address-img"
            />
            <p class="top-header__calc-text">
              Рассчитать стоимость <br />
              <span class="top-header__calc-btn"> ремонта за 45 сек </span>
            </p>
          </div>
          <div class="top-header__social top-header-social">
            <p class="top-header-social__text">Задайте вопрос, мы сейчас онлайн</p>
            <ul class="top-header-social__links">
              <li class="top-header-social__item">
                <a class="top-header-social__link _icon-header-whatsapp" href="#"></a>
              </li>
              <li class="top-header-social__item">
                <a class="top-header-social__link _icon-header-tg" href="#"></a>
              </li>
              <li class="top-header-social__item">
                <a class="top-header-social__link _icon-header-viber" href="#"></a>
              </li>
            </ul>
          </div>
          <div class="top-header__contacts top-header-contacts">
            <span class="top-header-contacts__time"><span>ЗвонитеПн-Сб 10:00 - 21:00</span> </span>
            <a class="top-header-contacts__phone" href="tel:89251033330">+7 (925) 103 33 30</a>
            <span class="top-header-contacts__makecall">Заказать звонок</span>
          </div>
        </div>
      </div>
      <div class="header__bottom bottom-header">
        <nav class="bottom-header__nav">
          <ul class="bottom-header__nav-list">
            <li class="bottom-header__nav-item">
              <a class="bottom-header__nav-link" href="#">Главная</a>
            </li>
            <li class="bottom-header__nav-item">
              <a class="bottom-header__nav-link" href="#">услуги</a>
            </li>
            <li class="bottom-header__nav-item">
              <a class="bottom-header__nav-link" href="#">модели двигателей</a>
            </li>
            <li class="bottom-header__nav-item">
              <a class="bottom-header__nav-link" href="#">отзывы</a>
            </li>
            <li class="bottom-header__nav-item">
              <a class="bottom-header__nav-link" href="#">стоимость</a>
            </li>
            <li class="bottom-header__nav-item">
              <a class="bottom-header__nav-link" href="#">примеры работ</a>
            </li>
            <li class="bottom-header__nav-item">
              <a class="bottom-header__nav-link" href="#">полезные статьи</a>
            </li>
            <li class="bottom-header__nav-item">
              <a class="bottom-header__nav-link" href="#">о компании</a>
            </li>
            <li class="bottom-header__nav-item">
              <a class="bottom-header__nav-link" href="#">Контакты</a>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </div>

  <div class="map-overlay">
    <iframe
      src="https://yandex.ru/map-widget/v1/?um=constructor%3A67f6d8301b0383a6796c878716d537fb35b0d07e0bdc5db5e71a35c603caa706&amp;source=constructor"
      width="100%"
      height="400"
      frameborder="0"
    ></iframe>
  </div>
</header>
