<div class="header-mobile">
  <div class="header-mobile__top">
    <div class="header-mobile__logo">
      <a class="header-mobile__logo-link" href="index.html">
        <img
          class="header-mobile__logo-img"
          src="assets/img/mobile-logo.svg"
          alt="header-mobile-logo"
        />
      </a>
    </div>
    <div class="header-mobile__contacts mobile-contacts">
      <span class="mobile-contacts__time">Звоните Пн-Сб 10:00 - 21:00</span>
      <a class="mobile-contacts__phone" href="tel:89251033330">+7 (925) 103 33 30</a>
      <div class="mobile-contacts__makecall">
        <span class="_icon-phone"></span>
        <span class="mobile-contacts__makecall-btn">заказать звонок</span>
      </div>
    </div>
    <button class="header-mobile__burger-btn _icon-mobile-burger"></button>
  </div>
  <div class="header-mobile__menu mobile-menu">
    <nav class="mobile-menu__nav">
      <ul class="mobile-menu__nav-list">
        <li class="mobile-menu__nav-item">
          <div class="mobile-menu__nav-content nav-content">
            <div class="nav-content__title">Услуги</div>
            <ul>
              <li class="nav-content__item">Ремонт дивгателей KIA</li>
              <li class="nav-content__item">Ремонт двигателей HYundai</li>
            </ul>
          </div>
        </li>
        <li class="mobile-menu__nav-item">
          <div class="mobile-menu__nav-content">модели двигателей</div>
        </li>
        <li class="mobile-menu__nav-item">
          <div class="mobile-menu__nav-content">отзывы</div>
        </li>
        <li class="mobile-menu__nav-item">
          <div class="mobile-menu__nav-content">стоимость</div>
        </li>
        <li class="mobile-menu__nav-item">
          <div class="mobile-menu__nav-content">примеры работ</div>
        </li>
        <li class="mobile-menu__nav-item">
          <div class="mobile-menu__nav-content">полезные статьи</div>
        </li>
        <li class="mobile-menu__nav-item">
          <div class="mobile-menu__nav-content">о компании</div>
        </li>
        <li class="mobile-menu__nav-item">
          <div class="mobile-menu__nav-content" href="#">Контакты</div>
        </li>
      </ul>
    </nav>
    <div class="mobile-menu__info mobile-info">
      <div class="mobile-info__inner">
        <div class="mobile-info__address">
          <img
            class="mobile-info__address-img"
            src="assets/img/map.svg"
            alt="mobile-info-address-img"
          />
          <div class="mobile-info__address-text">
            Адрес автоцентра:<br />
            <span> Москва, Шоссейный проезд, с4 а/2 </span>
          </div>
        </div>
        <div class="mobile-info__calc">
          <img
            class="mobile-info__calc-img"
            src="assets/img/calc.svg"
            alt="mobile-info-address-img"
          />
          <div class="mobile-info__calc-text">
            Рассчитать стоимость ремонта <br />
            <span> за 45 сек </span>
          </div>
        </div>
        <div class="mobile-info__contacts">
          <img
            class="mobile-info__calc-img"
            src="assets/img/mobile-menu-contacts.svg"
            alt="mobile-info-address-img"
          />
          <div class="mobile-info__contacts-info">
            <div class="mobile-info__contacts-infotext">
              Есть вопрос?
              <br />
              <span> Задайте его нашему мастеру онлайн </span>
            </div>
            <a class="top-header-social__link _icon-header-whatsapp" href="#"></a>
            <a class="top-header-social__link _icon-header-tg" href="#"></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
