<section class="main">
  <!-- <img class="main__logo" src="assets/img/logo-bg.webp" alt="logo" /> -->
  <div class="main__scroll">
    <div class="main__scroll-text">Scroll down</div>
    <!-- <div class="main__scroll-border"></div> -->
    <div class="main__scroll-icon">
      <img src="assets/img/mouse.svg" alt="mouse" />
      <img class="main__scroll-dot" src="assets/img/scroll-dot.svg" alt="mouse" />
    </div>
  </div>
  <div class="container main__container">
    <div class="main__inner">
      <h1 class="main__title">
        Профессиональный
        <span>
          ремонт <br />
          двигателей
        </span>
        HYUNDAI и KIA <br />
        <span>с гарантией 1 год</span> за 4-7 дней
      </h1>
      <h2 class="main__subtitle">в специализированном автосервисе полного цикла</h2>
      <div class="main__buttons">
        <button class="main__button-calc button-calc">
          <p class="button-calc__text">Начать расчет стоимости ремонта вашего двигателя</p>
          <div class="_icon-big-arrow button-calc__icon"></div>
        </button>
        <button class="main__button-consultation button-consultation">
          <p class="button-consultation__text">Узнайте стоимость по <span>WhatsApp</span></p>
          <div class="button-consultation__icon _icon-main-whatsapp"></div>
        </button>
      </div>
      <div class="main__items">
        <div class="main__item main-item">
          <span class="_icon-check"></span>
          <p class="main-item__text">
            <span>Без предоплаты.</span>
            Оплата после ремонта
          </p>
        </div>
        <div class="main__item main-item">
          <span class="_icon-check"></span>
          <p class="main-item__text">
            <span>Работаем официально</span>
            с оформлением заказ-нарядов и чеков
          </p>
        </div>
        <div class="main__item main-item">
          <span class="_icon-check"></span>
          <p class="main-item__text"><span>Оригинальные запчасти</span></p>
        </div>
        <div class="main__item main-item">
          <span class="_icon-check"></span>
          <p class="main-item__text">
            <span>Лучшие цены на рынке </span>
            благодаря прямым<br />
            поставкам запчастей и собственному цеху механической обработки
          </p>
        </div>
      </div>
      <!-- mobile -->
    </div>
    <div class="main__items-mobile items-mobile">
      <div class="main__item-mobile mobile-item">
        <span class="_icon-check"></span>
        <p class="mobile-item__text">
          <span>Без предоплаты.</span>
          Оплата после ремонта
        </p>
      </div>
      <div class="main__item-mobile mobile-item">
        <span class="_icon-check"></span>
        <p class="mobile-item__text">
          <span>Работаем официально</span>
          с оформлением заказ-нарядов и чеков
        </p>
      </div>
      <div class="main__item-mobile mobile-item">
        <span class="_icon-check"></span>
        <p class="mobile-item__text"><span>Оригинальные запчасти</span></p>
      </div>
      <div class="main__item-mobile mobile-item">
        <span class="_icon-check"></span>
        <p class="mobile-item__text">
          <span>Лучшие цены на рынке </span>
          благодаря прямым<br />
          поставкам запчастей и собственному цеху механической обработки
        </p>
      </div>
    </div>
  </div>
</section>
